<!DOCTYPE html>
<html lang="en">
<head>
  {% include './public/_meta.html' %}
  <link rel="stylesheet" href="/plugins/webuploader/0.1.5/webuploader.css" />
  <style>
    #multi_img a:hover{
      text-decoration: none;
    }
    .sImg-item, .sImg-addItem {
      border: 1px solid #ddd;
      padding: 5px;
      width: 228px;
      margin: 5px;
      position: relative;
    }
    .sImg-item .trash {
      position: absolute;
      right: 5px;
      top: 0px;
      font-size: 15px;
      color: #aaa;
    }
    
    .sImg-addItem>a {
      color: #ccc;
    }
    .sImg-addItem {
      font-size: 153px;
      text-align: center;
    }
    .sImg-item .thumbnail {
      width: 100%;
      max-height: 164px;
      cursor: pointer;
    }
    .sImg-item:nth-child(3n+1),  .sImg-addItem:nth-child(3n+1){
      margin-left: 0;
    }
    .sImg-item input{
      margin-top: 10px;
    }
    .thumbnail-wrap {
      width: 190px;
      height: 164px;
    }
  </style>
</head>
<body>
  <article class="page-container">
    <form class="form form-horizontal" id="opForm">
      <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>广告名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
          <input type="hidden" name="_id" id="_id" />
          <input type="text" class="input-text" id="adverName" name="adverName">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>广告类别：</label>
        <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
          <select name="type" class="select" id="type">
            <option value="0">单条</option>
            <option value="1">多条</option>
          </select>
          </span> 
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>广告状态：</label>
        <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
          <select name="state" class="select" id="state">
            <option value="false">关闭</option>
            <option value="true">开启</option>
          </select>
          </span> 
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>广告文字：</label>
        <div class="formControls col-xs-8 col-sm-9">
          <input type="text" class="input-text" id="title" name="title" placeholder="如果为纯文字广告请直接填写">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">跳转方式：</label>
        <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
          <select name="target" class="select" id="target">
            <option value="_blank">新窗口</option>
            <option value="_self">当前窗口</option>
            <option value="_parent">在父框架集中打开被链接文档。</option>
            <option value="_top">在整个窗口中打开被链接文档。</option>
          </select>
          </span> 
        </div>
      </div>
      <div class="advertising single">
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2">广告连接：</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" id="singleLink" name="singleLink" />
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2">广告图片：<br>(文字广告不填)&nbsp;</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="hidden" value="" id="image"/>
            <div id="thelist" class="cl">
              
            </div>
            <div class="btns">
              <div id="picker">选择文件</div>
            </div>
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2">图片加载失败文本：</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" id="singleAlt" name="singleAlt" />
          </div>
        </div>
      </div>
      <div class="advertising multi hidden">
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2">广告图片：</label>
          <div class="col-xs-8 col-sm-9" id="multi_img">

            <div class="sImg-addItem col-sm-3">
              <a href="javascript:;" class="Hui-iconfont">&#xe610;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
          <button class="btn btn-primary radius" type="submit" id="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
          <button class="btn btn-default radius" id="closeWindow" onclick="pop.close()"> 取消</button>
        </div>
      </div>
    </form>
  </article>
  {% include './public/_footer.html' %}
  <script type="text/javascript" src="/plugins/webuploader/0.1.5/webuploader.min.js"></script>
  <script type="text/javascript" src="/lib/manger/upload.js"></script>
  <script type="text/javascript">
    function bindEvent() {
      $('#submit').on('click', function(e) {
        e.preventDefault();
        var data = {};
        data.name = $('#adverName').val();
        data.type = $('#type').val();
        data.state = $('#state').val();
        data.title = $('#title').val();
        data.target = $('#target').val();
        if(data.type == 1) {
          data.sImg = JSON.stringify($('#multi_img').getSimgs());
        }else if(data.type == 0) {
          data.sImg = $('#image').val();
          data.link = $('#singleLink').val();
          data.alt = $('#singleAlt').val();
        }

        if(!data.name) {
          layer.msg('请填写广告名称');
          return;
        }
        if(!data.title) {
          layer.msg('请填写广告文字');
          return;
        }
        if(!id) {
          oajax('/adver/addAdver', 'post', data, function(data) {
            layer.alert('添加成功', pop.close);
          });
        }else {
          data.id = id;
          oajax('/adver/updateAdver', 'post', data, function(data) {
            layer.alert('修改成功', pop.close);
          })
        }
      });
      // 单条多条对应
      $('#type').on('change', function(e) {
        e.preventDefault();
        $('.advertising').toggleClass('hidden');
      })
    }

    function initPage() {
      $('#multi_img').UploadImgs();
      if(!id) return;
      oajax('/adver/getAdvers', 'get', {'_id': id}, function(data) {
        data = data.info[0] || {};
        $('#adverName').val(data.name) ;
        $('#type').val(data.type);
        $('#state').val(String(data.state));
        $('#title').val(data.title);
        $('#target').val(data.target);

        if(data.type == 0) {
          $.initSingleIMG(data.sImg);
        }else {
          $('.single').addClass('hidden');
          $('.multi').removeClass('hidden');
          $.initMultiIMG(data.sImg);
        }
      });
    }

    $(function() {
      window.id = getQueryString('id');
      initPage();
      bindEvent();
    })
  </script>
</body>
</html>