{% extends './public/_layout.html' %}

{% block pageing -%}
<span class="c-999 en">&gt;</span>
<span class="c-666">分类管理</span> 
<span class="c-999 en">&gt;</span>
<span class="c-666">分项管理</span> 
{%- endblock %}

{% block section %}
<div class="text-c"> 
  路由名称：
  <input type="text" class="input-text" style="width:120px;" placeholder="输入路由名称" id="categoryName">
  父级路由名称：
  <input type="text" class="input-text" style="width:120px" placeholder="输入路由名称" id="categoryPName">
  <button class="btn btn-success radius" id="search"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
  <button class="btn btn-primary radius" id="clear"><i class="Hui-iconfont">&#xe665;</i>清空</button>
</div>
<div class="cl pd-5 bg-1 bk-gray mt-20"> 
  <span class="l">
    <a href="javascript:;" class="btn btn-danger radius" id="banch_delet">
      <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
    </a> 
    <a href="javascript:;" class="btn btn-primary radius" id="showAddPage">
      <i class="Hui-iconfont">&#xe600;</i> 添加路由
    </a>
  </span> 
  <span class="r">共有数据：<strong id="total"></strong></span>
</div>
<div class="mt-20">
  <table class="table table-border table-bordered table-hover table-bg table-sort" id="dataTable">
    <thead>
      <tr class="text-c">
        <th width="15"><input type="checkbox" class="select-all"></th>
        <th width="60">路由名称</th>
        <th width="40">父级名称</th>
        <th width="60">导航显示文本</th>
        <th width="80">页面标题</th>
        <th width="80">全路径</th>
        <th width="30">排序</th>
        <th width="80">操作</th>
      </tr>
    </thead>
    <tbody class="text-c">
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts -%}
<script type="text/javascript" src="/lib/manger/categories-list.js"></script>
{%- endblock %}