<div class="head-wrap">
  <div class="head">
    <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="head-nav">
      <ul class="ui-nav">
        <li class="ui-nav-item"><a href="/" data-hover="首页">首页</a></li>
        <li class="ui-nav-item"><a href="/web/service" data-hover="技术与服务">技术与服务</a></li>
        <li class="ui-nav-item"><a href="/web/products" data-hover="产品中心">产品中心</a></li>
        <li class="ui-nav-item"><a href="/web/clients" data-hover="客户中心">客户中心</a></li>
        <li class="ui-nav-item"><a href="/web/news" data-hover="新闻中心">新闻中心</a></li>
        <li class="ui-nav-item"><a href="/web/aboutus" data-hover="关于我们">关于我们</a></li>
        <li class="ui-nav-item"><a href="/web/contactus" data-hover="联系我们">联系我们</a></li>
      </ul>
      <div class="navbar-list">
      </div>
    </div>
  </div>
</div>
