<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    
  </style>
</head>
<body>
    <div id="ui">
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">?</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Amour</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Liebe</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Amore</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Amor</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Любовь</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">?????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Cinta</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Αγ?πη</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">??</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Liefde</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Dashuri</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Каханне</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Любов</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Ljubav</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Láska</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Armastus</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Mahal</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Szerelem</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Grá</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">爱</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Mīlestība</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Meil?</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">?убовта</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Cinta</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">???</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Dragoste</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Láska</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Renmen</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">???</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">muna?a</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Sevgi</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">?убав</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">karout</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">amà</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">am?r</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">k?rleiki</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">mborayhu</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Upendo</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">sòòyayyàà</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">ljubav</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">???</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">с?ю</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">?????????? ?? ?????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">с?й??</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">tia</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">aroha</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">KHAIR</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">?????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">kj?rlighet</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">munay</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">jecel</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">K?rlek</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">soymek</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Mahal</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">ярату</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">sopp</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">uthando</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">???????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">A?k</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Tình yêu</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">????</div>
            </div>
          </div>
        </div>
        <div class="love">
          <div class="love_horizontal">
            <div class="love_vertical">
              <div class="love_word">Love</div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>