<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/page-wrong.css">
</head>
<body>
  <!-- container -->
  <div class="page">
    <img src="/images/page-wrong.png" alt="">
    <!-- {% errorMSG %} -->
    <p>123123123</p>
		<div class="page-button">
      {{errorMsg}}
			<a href="/manger">返回系统首页</a>
			<a href="javascript:history.go(-1);">返回继续操作</a>
		</div>
	</div>
</body>
</html>
