<aside class="Hui-aside">
  <div class="menu_dropdown bk_2">
    <dl>
        <dt>
          <i class="Hui-iconfont">&#xe616;</i> 网站管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
        </dt>
        <dd>
          <ul>
            <li><a href="/manger/website" title="分项管理"> 网站管理</a></li>
          </ul>
        </dd>
      </dl>
    <dl>
      <dt>
        <i class="Hui-iconfont">&#xe616;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
      </dt>
      <dd>
        <ul>
          <li><a href="/manger/categories" title="分项管理"> 分项管理</a></li>
          <li><a href="/manger/article" title="文章管理"> 文章管理</a></li>
        </ul>
      </dd>
    </dl>
    <dl>
      <dt>
        <i class="Hui-iconfont">&#xe613;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5; </i>
      </dt>
      <dd>
        <ul>
          <li><a href="/manger/advertising" title="图片管理"> 广告管理</a></li>
        </ul>
      </dd>
    </dl>
    <dl >
      <dt>
        <i class="Hui-iconfont">&#xe627;</i> 碎片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
      </dt>
      <dd>
        <ul>
          <li><a href="/manger/fragments" title="碎片管理">碎片管理</a></li>
        </ul>
      </dd>
    </dl>
  </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>